{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}

{% block body %}
    <div class="Page container">
        <h1 class="text-center display-4 lead"><b>{{ page_name }}</b></h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
        <a href="{{ path("ville") }}"class="btn btn-light mr-1"> Retour </a>
    </div>
{% endblock %}